/* Estrutural */
header {
    margin-bottom: auto;
    height: 15%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

html,body {
    height: 100%;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: blueviolet;
    
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    margin-top: auto;
    height: 5%;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 2px;
}

.inicio {
    align-content: center;
}

.card {
     background-color: white;
     border-radius: 15px;
     padding: 5px;
}
 
.cardrow {
    height: 250px;
}

.botrow {
    margin-top: 30px;
}

#budget {
    margin-top: -80px;
}

/* Botões */
button { 
    padding: 10px 27px;
    background-color: blueviolet;
    color: white;
    border: white solid 3px;
    border-radius: 40px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    
}
button:focus{
    outline-color: blueviolet;
    color: blueviolet;
    background-color: white;
}

button:hover { 
    color: blueviolet;
    background-color: white;
}

#conferir {
    margin-left: 40px;
    margin-top: 10px;
}

#calcular {
    margin-top: 50px;
}

/* Inputs */
input {
    border-radius: 40px;
    border: solid 2px blueviolet;
    color: blueviolet;
    font-weight: bold;
    background-color: white;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

input:focus {
    border: blueviolet solid 2px;
    outline-style: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::placeholder {
    color: blueviolet;
    opacity: 1;
}

.makeRed {
      border: crimson 1px solid !important;
      color: crimson;
}

.makeRed::placeholder { 
    color: crimson;
    opacity: 1;
}

/* Texto */
h1 {
    font-size: 100px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 6px 6px 0px black;
}

h2 {
    font-size: 25px;
    text-align: left;
    line-height: 1em;
    text-shadow: 2px 2px 0px black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 40px;
    margin-top: -15px;
}

.paramtlt {
    font-size: 25px;
    font-weight: bold;
    color: blueviolet;
}

.paramdsc {
    color: black;
    font-size: 15px;
}

#valorHora { 
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    line-height: 100%;
    text-shadow: 6px 6px 0px black;
}

a {
    font-weight: bold;
    color: blueviolet;
}

a:hover {
    color: rgb(173, 95, 247);
    text-decoration: none;
}

a:focus {
    outline-style: inherit;
}

#he4rt {
    color: rgb(198, 138, 255);
}